<section class="container">
  <div id="text" class="d-flex align-items-center justify-content-center">
    <div class="text-center ">
      <h1 id="welcome"> About GITHUBSEARCH</h1>
      <div class="description">
        <p>GitHub is where over 65 million developers shape the future of software, together.</p><p> Contribute to the open
          source community, manage your Git repositories</p>
        <p>Our app is a simple github user navigation tool for GitHub</p>
        <h5 class="copyright">© 2021 Copyright: Annalis Kirwa</h5>
      </div>
    </div>
  </div>
</section>