.navbar{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-bottom: 0px;
    font-size: large;
}
.navbar-brand b{
    color: crimson;
}
.navbar-nav{
    margin-left: 100px;
}