.search-form {

  padding-top: 30px;
}
.labell{
  margin-left: 80px;
  font-family: 'Courier New', Courier, monospace;
}
.form-control{
  font-family: 'Courier New', Courier, monospace;
}
.heading{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 25pt;
  background-image: url(/assets/img/water-color.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head{
  padding: 100px;
  text-align: center;
}
.footer{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  position: relative;
  bottom: 0px;
  width: 100%;
}
.footer span {
  color: crimson;
}



